*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 35, 126);
}
/* .container {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px;
    background-color: rgba(21, 21, 21,0.5);
    border-radius: 10px;
    overflow: hidden;
    
}
.container::before {
    content: '';
    
    position: absolute;
    background: linear-gradient(rgb(41, 121, 255),rgb(213, 0, 249));
    width: 100px;
    height: 500px;
    animation: example 3s linear infinite;
    overflow: hidden;
    border-radius:20px ;
    
    
   
    
}
.rotate::after {
    content:'';
    position: absolute;
    inset: 4px;
    background:  rgb(26, 35, 126);
    
} */
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 33, 33,0.5);
    width: 300px;
    height: 350px;
    border-radius:10px ;
    overflow: hidden;
}
.rotate {
    position: absolute;
    background: linear-gradient(rgb(41, 121, 255),rgb(213, 0, 249));
    width: 100px;
    height: 500px;
    animation: example 2000ms linear infinite;
    
}
.border {
    
    width: 97.5%;
    height: 97.5%;
    z-index: 5;
    background-color: rgb(26, 35, 126);
    border-radius: 10px;
    
}
.border h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-transform: uppercase;
}
@keyframes example {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
